<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lain Dancing</title>
</head>
<body>
    <h1>they don't love you like I love you 💃</h1>
    <img src="https://media1.tenor.com/m/O8k-DvUjaeEAAAAd/lain-dance.gif" alt="Dancing Lain">

    <br>
    <audio controls autoplay>
        <source src="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</body>
</html>